<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="process" value="\Mir200\M2Server.exe|\DBServer\DBServer.exe|\GameCenter.exe|\LogServer\LogDataServer.exe|\LoginSrv\LoginSrv.exe|\RunGate\RunGate.exe|\SelGate\SelGate.exe|GameCenter.exe|\chuanqi-tool.exe"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
